In [1]:
# Initialize Otter
import otter
grader = otter.Notebook("hw5-cs104.ipynb")

# Homework 5: Applying Functions and Iteration

Please complete this notebook by filling in the cells provided. Before you begin, execute the previous cell to load the provided tests.

**Helpful Resource:**
- [Python Reference](http://data8.org/sp22/python-reference.html)

**Recommended Readings**: 

* [Tabular Thinking Guide](https://drive.google.com/file/d/13HaWu4rrjeowEOs6S_vaQGM3GremzXQ3/view?usp=sharing)
* [Applying Functions](https://www.inferentialthinking.com/chapters/08/1/Applying_a_Function_to_a_Column.html)
* [Conditionals](https://www.inferentialthinking.com/chapters/09/1/Conditional_Statements.html)
* [Iteration](https://www.inferentialthinking.com/chapters/09/2/Iteration.html)

Execute the following cell to load some modules that you will need.

In [2]:
# Run this cell to set up the notebook, but please don't change it.

# These lines import the numpy and datascience modules.
import numpy as np
from datascience import *
import warnings
warnings.simplefilter('ignore', FutureWarning)

## 1. 2021 UAB Football Season

James is trying to analyze how well the UAB football team performed in the 2021 season. A football game is divided into four quarters. The number of points UAB scored in each quarter and the number of points their opponent scored in each quarter are stored in a table called `uab_fb.csv`.

In [3]:
# Just run this cell
# Read in the uab_fb csv file
games = Table().read_table("uab_fb.csv")
games.show()

Let's start by finding the total points each team scored in a game.

**Question 1.** Write a function called `sum_scores`.  It should take four arguments, where each argument represents integers corresponding to the team's score for each quarter. It should return the team's total score for that game. **(20 Points)**

*Note:* Don't overthink this question!


<!--
BEGIN QUESTION
name: q1_1
manual: false
points:
 - 10
 - 10
-->

In [4]:
def sum_scores(q1, q2, q3, q4):
    '''Returns the total score calculated by adding up the score of each quarter'''
    return q1 + q2 + q3 + q4

sum_scores(14, 7, 3, 0) #DO NOT CHANGE THIS LINE

24

In [5]:
grader.check("q1_1")

q1_1 results: All test cases passed!

**Question 2.** Create a new table `final_scores` with three columns in this *specific* order: `Opponent`, `UAB Score`, `Opponent Score`. You will have to create the `UAB Score` and `Opponent Score` columns. Use the function `sum_scores` you just defined in the previous question for this problem. **(20 Points)**

*Hint:* If you want to apply a function that takes in multiple arguments, you can pass multiple column names as arguments in `tbl.apply()`. The column values will be passed into the corresponding arguments of the function. Take a look at the Python Reference Sheet for syntax.

*Note:* If you‚Äôre running into issues creating `final_scores`, check that `uab_scores` and `opponent_scores` output what you want. 

<!--
BEGIN QUESTION
name: q1_2
manual: false
points:
 - 0
 - 0
 - 20
-->

In [6]:
uab_scores = games.apply(sum_scores, "UAB 1Q", "UAB 2Q", "UAB 3Q", "UAB 4Q")
opponent_scores = games.apply(sum_scores, "Opp 1Q", "Opp 2Q", "Opp 3Q", "Opp 4Q") 
final_scores = Table().with_columns(
    "Opponent", games.column("Opponent"),
    "UAB Score", uab_scores,
    "Opponent Score", opponent_scores
)
final_scores

Opponent             | UAB Score | Opponent Score
Jacksonville State   | 31        | 0
Georgia              | 7         | 56
North Texas          | 40        | 6
Tulane               | 28        | 21
Liberty              | 12        | 36
Florida Atlantic     | 31        | 14
Southern Mississippi | 34        | 0
Rice                 | 24        | 30
Louisiana Tech       | 52        | 38
Marshall             | 21        | 14
... (3 rows omitted)

In [7]:
grader.check("q1_2")

q1_2 results: All test cases passed!

We can get specific row objects from a table. You can use `tbl.row(n)` to get the `n`th row of a table. `row.item("column_name")` will allow you to select the element that corresponds to `column_name` in a particular row. Here's an example:

In [8]:
# Just run this cell
# We won the Independence Bowl!
games.row(12)

Row(Opponent='BYU', UAB 1Q=14, UAB 2Q=7, UAB 3Q=3, UAB 4Q=7, Opp 1Q=0, Opp 2Q=14, Opp 3Q=7, Opp 4Q=7)

In [9]:
# Just run this cell
games.row(6).item("UAB 2Q")

28

**Question 3.** We want to see for a particular game whether or not UAB lost. Write a function called `did_uab_lose`.  It should take one argument: a **row object** from the `final_scores` table. It should return either `True` if UAB's score was less than the Opponent's score, and `False` otherwise. **(20 Points)**

*Note 1*: "Row object" means a row from the table that contains all the data for that specific row. It is **not** the index of a row. Do not try and call `final_scores.row(row)` inside of the function.

*Note 2*: If you're still confused by row objects, try printing out `final_scores.row(0)` in a new cell to visually see what it looks like! This piece of code is pulling out the row object located at index 0 of the `final_scores` table and returning it. When you display it in a cell, you'll see that it is not located within a table, but is instead a standalone row object!

<!--
BEGIN QUESTION
name: q1_3
manual: false
points:
 - 0
 - 10
 - 10
-->

In [10]:
def did_uab_lose(row):
    '''Returns True if UAB's score was less than the Opponent's score, otherwise False'''
    return row[1] < row[2]

did_uab_lose(final_scores.row(0))  # DO NOT CHANGE THIS LINE

False

In [11]:
grader.check("q1_3")

q1_3 results: All test cases passed!

**Question 4.** James wants to see how UAB did against every opponent during the 2021 season. Using the `final_scores` table:

1. Assign `results` to an array of `True` and `False` values that correspond to whether or not UAB lost.
2. Add the `results` array to the `final_scores` table in a column named `Results`, and assign this to `final_scores_with_results`.
3. Then, respectively assign the number of wins and losses UAB had to `uab_wins` and `uab_losses`.

**(20 Points)**

*Hint 1*: `True` and `False` are **not** strings. What data type are they?

*Hint 2*: `tbl.num_rows` might be helpful too.

*Hint 3*: When you only pass a function name and no column labels through `tbl.apply()`, the function gets applied to every row in `tbl`.


<!--
BEGIN QUESTION
name: q1_4
manual: false
points:
 - 0
 - 0
 - 10
 - 10
-->

In [12]:
results = final_scores.apply(did_uab_lose)
final_scores_with_results = final_scores.with_column('Results', results)
uab_losses = np.count_nonzero(results)
uab_wins = final_scores.num_rows - uab_losses

# Don't delete or edit the following lines:
print(f"In the 2021 Season, UAB Football won {uab_wins} games and lost {uab_losses} games. Go Blazers!", end=' ')
print(chr(0x1f432))

In the 2021 Season, UAB Football won 9 games and lost 4 games. Go Blazers! üê≤

In [13]:
grader.check("q1_4")

q1_4 results: All test cases passed!

**Question 5:** Sometimes in football the two teams are equally matched and the game is quite close. Other times, it is a blowout, where the winning team wins by a large margin of victory. Let's define a **big win** to be a game in which the winning team won by more than 10 points.

Use your `final_scores` table to assign `big_wins` to an array of team names that UAB had big wins against during the 2021 football season. You may find the `is_big_win` function defined below helpful to you! **(20 Points)**

<!--
BEGIN QUESTION
name: q1_5
manual: false
points:
 - 5
 - 5
 - 10
-->

In [14]:
def is_big_win(row):
    '''Return a boolean to describe whether or not a game (row) is a big win'''
    score_diff = row.item("UAB Score") - row.item("Opponent Score")
    
    if score_diff > 10:
        return True
    else:
        return False

big_wins = make_array()

for row in final_scores.rows: # This will help us iterate through rows of final_scores table
    opponent = row.item("Opponent")
    if row.item("Opponent"): # You should use the function defined above!
        big_wins = np.append(big_wins, opponent) # Do not change this line - Adds character to the end of some_string
big_wins

array(['Jacksonville State', 'Georgia', 'North Texas', 'Tulane', 'Liberty',
       'Florida Atlantic', 'Southern Mississippi', 'Rice',
       'Louisiana Tech', 'Marshall', 'UTSA', 'UTEP', 'BYU'],
      dtype='<U32')

In [15]:
grader.check("q1_5")

q1_5 results: All test cases passed!

You're done with the required section of Homework 5. Continue on to the optional section for some more practice with iterations and for loops.

## 2. Unrolling Loops (Optional)

**This section of HW5 is optional. Do it for your own practice, but it will not be incorporated into the final grading.**

"Unrolling" a `for` loop means to manually write out all the code that it executes.  The result is code that does the same thing as the loop, but without the structure of the loop.  For example, for the following loop:

    for num in np.arange(3):
        print("The number is", num)

The unrolled version would look like this:

    print("The number is", 0)
    print("The number is", 1)
    print("The number is", 2)


Unrolling a `for` loop is a great way to understand what the loop is doing during each step. In this exercise, you'll practice unrolling a `for` loop.


In the question below, write code that does the same thing as the given code, but with any `for` loops unrolled.  It's a good idea to run both your answer and the original code to verify that they do the same thing.  (Of course, if the code does something random, you'll get a different random outcome than the original code!)

**Optional Question 1.** Unroll the code below.
<!--
BEGIN QUESTION
name: q2_1
manual: false
-->

In [16]:
for joke_iteration in np.arange(3):
    print("Knock, knock.")
    print("Who's there?")
    print("Banana.")
    print("Banana who?")
print("Knock, knock.")
print("Who's there?")
print("Orange.")
print("Orange who?")
print("Orange you glad I didn't say banana?")

Knock, knock.
Who's there?
Banana.
Banana who?
Knock, knock.
Who's there?
Banana.
Banana who?
Knock, knock.
Who's there?
Banana.
Banana who?
Knock, knock.
Who's there?
Orange.
Orange who?
Orange you glad I didn't say banana?

In [17]:
...

Ellipsis

Congratulations, you are done with Homework 5!

**Important submission steps:** 

1. Run the tests and verify that they all pass.
2. Choose **Save and Checkpoint** from the **File** menu.
4. Go to Canvas and submit the Jupyter notebook file (hw5-cs104.ipynb) to the CS104 HW5 assignment.

---

To double-check your work, the cell below will rerun all of the autograder tests.

In [18]:
grader.check_all()

q1_1 results: All test cases passed!

q1_2 results: All test cases passed!

q1_3 results: All test cases passed!

q1_4 results: All test cases passed!

q1_5 results: All test cases passed!